{% extends "SensorsBundle:Default:layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <!--
    <link href="/bundles/sensors/css/main.css" rel="stylesheet">
    -->
{% endblock %}

{% block header %}
    {{ include('SensorsBundle:Default:comp_header.html.twig') }}
{% endblock %}

{% block body %}
    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>À propos de «<em>Sensors</em>»</h2>
                    <p>
                        <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The
                        theme is open source, and you can use it for any purpose, personal or commercial.</p>
                    <p>This theme features stock photos by
                        <a href="http://gratisography.com/">Gratisography</a>
                        along with a custom Google Maps skin courtesy of
                        <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                    <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for
                        easy customization!</p>
                </div>
            </div>
        </div>
    </section>

    <!--Data Section -->
    <section id="data" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Données</h2>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Site instrumenté
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Paramètres mesurés
                        <span class="badge badge-primary badge-pill">4</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Nombre d'acquisitions
                        <span class="badge badge-primary badge-pill">25k</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Download Section -->
    <section id="news" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>News</h2>
                <ul>
                    <li>Nouvelle IHM en grayscale :-)</li>
                    <li>Les graphiques sont en ligne</li>
                    <li>Les données sont importées</li>
                    <li>La base de données est prête</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Roadmap Section -->
    <section id="roadmap" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Roadmap</h2>
                <p>Ici les futures améliorations prévues</p>
                <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>contact</h2>
                    <p>Contact par mail : <a href="mailto:senshat@antaya.fr">FAb</a>
                    </p>
                    <p>Pas du tout présent sur les réseaux sociaux :</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-github fa-fw"></i>
                            <span class="network-name">Github</span>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-google-plus fa-fw"></i>
                            <span class="network-name">Google+</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {{ include('SensorsBundle:Default:comp_footer.html.twig') }}
{% endblock %}